<div class="container">
    <div >
        <label for="region" ><h5>Choose your region:</h5></label>
            <select  id="region"  class="btn btn-primary" [value]="" (change)="changeCandi($event.target.value)">
            <option *ngFor="let area of areas" value="ar">{{area}}</option>
            </select>
     </div>

      <div>

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">userid</th>
                <th scope="col">Candidate</th>
                <th scope="col">Party</th>
                <th scope="col">Vote</th>
              </tr>
            </thead>
            <tbody>
            
              <tr *ngFor="let can of candibyregions">
                <th scope="row">1</th>
                <td>{{ can[0].userid}}</td>
                <td>{{ can[0].party }}</td>
                <td> <div class="radio">
                  <label><input type="radio" id='express' name="optradio"></label>
             </div></td>
            </tr>
            </tbody>
          </table>
          <button class="btn btn-secondary m-1" routerLink="/logindetails">
            Home
        </button>

      </div>
</div>