<div>
    <div>
        <button class="btn btn-info m-4" >Update Password</button>
        <button class="btn btn-info m-4" routerLink="/viewcandidate">View Candidates</button>
        <button class="btn btn-info m-4" routerLink="/viewresult">View Result</button>
        <button class="btn btn-info m-4">Logout</button>
    </div>
    <h2>Update Password</h2>
        <div class="container-fluid">
            
            <form #form="ngForm" novalidate  class="m-2">
                <div class="form-group">
                    <label class="float-left" >New Password</label>
                    <input class="form-control" name="npassword" required />
                    <span *ngIf="submitted" class="text-danger">
                       Please enter new password
                    </span>
                </div>
                <div class="form-group">
                    <label class="float-left">Re-enter Passwod</label>
                    <input class="form-control"required name="nrpassword" />
                    <span *ngIf="submitted" class="text-danger">
                       Re-enter your new password
                    </span>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary m-1" type="submit">
                        Submit
                    </button>
                    <button class="btn btn-secondary m-1" routerLink="/logindetails">
                        Back
                    </button>
                    
                </div>
            </form>
            
    </div>
    </div>